*{
  padding:0;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: white; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #f5f0f3;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#project {
  float: left;
  margin-top: 20px;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
 
}

#project div,
#company div {
  white-space: nowrap;  
   
}
#project span{
  font-size: 13px;   
  color:#130d10!important;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table.tabla-general tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}
td{
  text-align: center!important;
}

table.tabla-general th {
  padding: 10px 10px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: center;
}

table td {
  padding: 20px;
  text-align: center;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
.cabezera th {
  text-align: left;
}

 .logo{
  width:130px;
}
.formato{
  border:1px solid #130d10;

  padding:10px;
  width:210px;
  height: 100px;

}
.datos span{
  display:block!important
}
.datos{
  margin-left:20px
}
.presentacion{
  border:2px solid rgb(255, 110, 110);
  border-radius: 9px;
  float:right;
  padding:0px;
  width:200px;
  height: 70px;
}
.tabla_titulo{
  float: left;
  width:420px;
  margin-bottom: 20px;
}
.logo{
  float:left;
}
.logo img{
  height: 10px;
}
.info{
  float:right;
  margin-left:40px;
  margin-top:10px;
  text-align:justify;
}
hr{
  color:rgb(255, 110, 110)
}
.exi{
  border: 1px solid rgb(255, 110, 110)!important;
  border-collapse: collapse!important;

 
}
.exi {
  text-align:center
}
table.exi tr{
  border: 2px solid rgb(255, 110, 110)!important;

}
table.exi th{
  padding: 10px 10px;
}
table.exi td{
  padding: 10px 10px;
}
.blanco{
 background-color:#fff!important;
}
.total{
  text-align:right!important;
}
.ruc{
  font-weight: bold;

}
.tipo{
  background-color:rgb(255, 110, 110);
  color: #fff;
  width: 100%!important;
  margin:0;
  font-weight: bold;
  text-align:center;
}
p{
  margin:0;
  padding:5px 10px;
  text-align:center
}